.pricing-toggle {
    background-color: #17171B;
    padding: 8px 0px;
    border-radius: 30px;
    display: inline-block
  }
  
  .pricing-toggle [name="pricing"] {
    display: none
  }
  
  .pricing-toggle input[type="radio"]+label {
    background-color: #17171B;
    color: white;
    padding: 8px 50px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pricing-toggle input[type="radio"]:checked+label {
    background-color: white;
    color: #000000;
  }
  
@media only screen and (max-width: 600px) {
  .pricing-toggle input[type="radio"]+label {
    background-color: #17171B;
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
  }
  .pricing-toggle input[type="radio"]:checked+label {
    background-color: white;
    color: #000000;
  }
}
